:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-kellyGreen: #6AB40A;
  --vt-c-kellyGreen-Light: #A4ED45;
  --vt-c-borderGrey: #C1C1C1;
  --vt-c-borderGreyDark: #a19f9f;
  --vt-c-Raspberry: #E91658;
  --vt-c-Orange: #FFA600;
  --vt-c-Orange-Light: #FCBD47;
  --vt-c-DarkBlue: #1600B2;
  --vt-c-Grape: #8332AC;
  --vt-c-Grey: #A4A4A6;
  --vt-c-Grey-Light: #CCCCCF;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-confirm-button: var(--vt-c-kellyGreen);
  --color-cancel-button: var(--vt-c-Raspberry);
  --color-buttonText: var(--vt-c-white);

  --color-PathYetToTakeLight: var(--vt-c-Grey-Light);
  --color-PathYetToTakeDark: var(--vt-c-Grey);
  --color-PathCurrentLight: var(--vt-c-kellyGreen-Light);
  --color-PathCurrentDark: var(--vt-c-kellyGreen);
  --color-PathPreviousLight: var(--vt-c-Orange-Light);
  --color-PathPreviousDark: var(--vt-c-Orange);
  --color-PathLine: var(--vt-c-black);

  --color-pieChartBlue: var(--vt-c-DarkBlue);
  --color-pieChartRed: var(--vt-c-Raspberry);
  --color-pieChartGreen: var(--vt-c-kellyGreen);
  --color-pieChartOrange: var(--vt-c-Orange);

  --color-header: var(--vt-c-kellyGreen);
  --color-heading: var(--vt-c-kellyGreen);
  --color-headerText: var(--vt-c-white);
  --color-hamburgerMenu: var(--vt-c-white);

  --color-emptyProgress: var(--vt-c-white);
  --color-currentProgress: var(--vt-c-kellyGreen);

  --color-sideBar: var(--vt-c-white);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-borderGrey);
  --color-border-hover: var(--vt-c-borderGreyDark);
  --color-border-error: var(--vt-c-Raspberry);

  --color-text: var(--vt-c-text-light-1);
  --color-text-error: var(--vt-c-Raspberry);

  --color-shadow: rgba(0, 0, 0, 0.2);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-PathLine: var(--vt-c-white);

    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-borderGrey);
    --color-border-hover: var(--vt-c-borderGreyDark);

    --color-text: var(--vt-c-text-dark-1);

    --color-shadow: rgba(255, 255, 255, 0.2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 12.5px;
}

@media only screen and (max-width: 1000px) {
  :root{
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px){
  :root{
    font-size: 15px;
  }

}

h1{
  font-size: 5em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 1em;
}

h4{
  font-size: 0.5em;
}

h5{
  font-size: 0.25em;
}